In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error
pd.options.mode.chained_assignment = None

In [11]:
# weer dataset
weer_df = pd.read_csv("weer.csv")
weer_df["YYYYMMDD"] = pd.to_datetime(weer_df["YYYYMMDD"],format="%Y%m%d")
weer_df.drop(['STN', 'SQ'], axis=1, inplace=True)
weer_df.rename(columns={'YYYYMMDD':'day','FG':'windspeed','TG':'temperature','RH':'rain'},inplace=True)
weer_df.head()

         day  windspeed  temperature  rain
0 2019-01-01         76           77     5
1 2019-01-02         48           56    -1
2 2019-01-03         23           31    -1
3 2019-01-04         45           54    -1
4 2019-01-05         65           72     1

In [12]:
# train dataset
train_df = pd.read_csv("train.csv", index_col=0)
train_df["date"] = pd.to_datetime(train_df["date"], format="%Y-%m-%d %H:%M:%S")
daily_rentals_df = train_df[["tripid"]].groupby([train_df["date"].dt.date]).count()
daily_rentals_df["day"] = pd.to_datetime(daily_rentals_df.index, format="%Y-%m-%d %H:%M:%S")
daily_rentals_df = weer_df.merge(daily_rentals_df, left_on='day', right_on="day")
daily_rentals_df.rename(columns={'tripid':'rented'},inplace=True)
daily_rentals_df['weekday'] = pd.to_datetime(daily_rentals_df['day']).dt.dayofweek
daily_rentals_df.head()

         day  windspeed  temperature  rain  rented  weekday
0 2019-01-01         76           77     5       8        1
1 2019-01-02         48           56    -1      61        2
2 2019-01-03         23           31    -1      90        3
3 2019-01-04         45           54    -1      64        4
4 2019-01-05         65           72     1      17        5

In [13]:
# model trainen
X = daily_rentals_df.drop(['rented', 'day'], axis=1)
y = daily_rentals_df[['rented']]
rfc = RandomForestClassifier().fit(X, y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [14]:
# model testen
test_df = pd.read_csv("test.csv", index_col=0)
test_df['day'] = pd.to_datetime(test_df["date"], format="%Y-%m-%d %H:%M:%S").dt.date
uniques = pd.DataFrame(test_df["day"].unique())
uniques[0] = pd.to_datetime(uniques[0])
test_df = weer_df.merge(uniques, left_on='day', right_on=0)
test_df['weekday'] = pd.to_datetime(test_df['day']).dt.dayofweek
test_df.head()

         day  windspeed  temperature  rain          0  weekday
0 2019-11-01         46           79    38 2019-11-01        4
1 2019-11-02         85          128    33 2019-11-02        5
2 2019-11-03         38          101    46 2019-11-03        6
3 2019-11-04         40          103     1 2019-11-04        0
4 2019-11-05         25           96    36 2019-11-05        1

In [15]:
X = test_df.drop([0, 'day'], axis=1)

# # to verify
verify = pd.read_csv("test.csv", index_col=0)
verify["date"] = pd.to_datetime(verify["date"], format="%Y-%m-%d %H:%M:%S")
y = verify[["tripid"]].groupby([verify["date"].dt.date]).count()['tripid'].values

In [16]:
# test model
mean_squared_error(y, rfc.predict(X))

17769.102564102563